
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
	margin: 0rem;
  background-image: url(/imagenes/fondo_blanco_pagina2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.Titulo 
{
    color: red;
}

nav{
	width: 100%;
	height: 10%;
}

.carousel{
	margin-top: 4.5rem;
}

.carousel-item img{
	width: 100%;
	height: 100%;
}

.carousel-item .chicken{
	height: 38rem;
}

.carousel-item .chuletas{
	height: 38rem;
}


.main{
    top: 0;
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    transition: 0.5s;
    padding-top: 10px;
}

.topbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-image{
    display: flex;
    justify-content: center;
    min-width: 45px;
}

.logo-image img{
    width: 80px;
    border-radius: 30%;
	margin-top: 10px;
	margin-left: -7rem;

}

.logo .logo_name{
	margin-left: -1.5rem;
    font-size: 22px;
    font-weight: 600;
    color: white;
    transition: var(5s);
}

.search{
    position: relative;
    width: 400px;
    margin: 0 20rem;
	margin-left: 10rem;

}

.search label{
    position: relative;
    width: 100%;
}

.search label input{
    width: 200%;
    height: 40px;
	margin-left: -7rem;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 50px;
    outline: none;
    border: 1px solid  #7a7a7d;
}

.search i{
    position: absolute;
    top: 0;
    margin-left: -6rem;
    font-size: 26px;
}
.menu{
	font-size: 18px;
}

.menu .hi{
	margin-left: 17rem;
	color: white;
}

.menu .sesion{
	color: white;
	margin-left: 13rem;
}


.dropdown {
    position: relative;
    display: inline-block;
	margin-right: 5rem;
  }
  
  .dropbtn {
    background: none;
    padding: 0;
    font-size: 16px;
    border: none;
    cursor: pointer;
	color: white;
  }

  .dropbtn i{
    margin-right: 70px;
    font-size: 30px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
	margin-left: -4.5rem;
    min-width: 160px;
	border-radius: 14px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: rgb(194, 16, 16);
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 205px;
    margin-left: -100px;
}
.pie-pagina .grupo-1 .box h2{
    color: black;
    font-weight: 700;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: rgb(230, 72, 72);
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: rgb(230, 72, 72);
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}


figure .image img{
    left: 10px;
    float: right;
    margin-right: 5rem;
    padding: 4px;
    max-width:70%;
  max-height:70%;    
}

@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}


































.container-card{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #7a7a7a;
}
.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: 210px;
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: #7a7a7a;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #2fb4cc;
	border: 1px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: #2fb4cc;
	color: #fff;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}

