@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: url(imagenes1/lines-left.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-size: 2000px;
    background-repeat: no-repeat;
}

.login-box img{
    position: absolute;
    height: 120px;
    top: 10px;
    border-radius: 50%;
    left: calc(50% - 80px);
}

form{
    width: 600px;
    height: 780px;
    border: 10px solid;
    padding: 3rem;
    margin-top: 15rem;
    background-color: #fff5;
    border: 5px;
    border-color: black;
    box-shadow: 0 .4rem .8rem;
    border-radius: 20px;
    color: black;
}

h1{
    width: 90%;
    font-size: 35px;
    display: block;
    text-align: center;
}

.text{
    font-size: 20px;
    width: 65%;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 70px;
}

.bold{
    display: block;
    padding: 10px;
    font-size: 21px;
    text-align: center;  
    margin-bottom: 10px;
    font-weight: bold;
    color: rgb(194, 16, 16);
}

label{
    color: black;
    font-size: 18px;
    padding: 10px;
    font-weight: 300px;
}

input{
    display: block;
    border: 1px solid black;
    width: 95%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.btn{
    display: flex;
    float: right;
    background-color: rgb(194, 16, 16);
    padding: 12px;
    color: white;
    border-radius: 25px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.btn:hover{
    background-color:  rgb(230, 72, 72);
    color: rgb(0, 0, 0);
    color: white;
}

.btnregistro{
    display: block;
    width: 95%;
    padding: 12px;
    margin: 10px;
    border-radius: 25px;
    display: flex;
    float: right;
    border:  rgb(194, 16, 16) solid 1.5px;
    color:  rgb(194, 16, 16);
    font-weight: bold;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.btnregistro:hover{
    background-color: rgb(230, 72, 72);
    color: white;
    border:  white solid;
}


.btn-2 a{
    width: 95%;
    display: flex;
    float: right;
    align-items: center;
    justify-content: center;
    padding: 7px;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(194, 16, 16);
}
 